/wp-admin/
/surveys/
/wp-includes/
/wp-content/themes/discovery
/wp-content/themes/twentythirteen
/wp-content/themes/twentytwelve
/wp-content/themes/twentyfourteen
/wp-content/themes/index.php
/wp-content/plugins
/wp-content/upgrade
/wp-content/uploads
/wp-content/index.php
/.htaccess
/favicon.gif
/favicon.ico
/index.php
/license.txt
/quickstart.html
/--readme.html
/sitemap.xml
/sitemap.xml.gz
/test.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-pass.php
/wp-rdf.php
/wp-register.php
/wp-rss.php
/wp-rss2.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
